{% extends 'base.html' %}
{% load social_tags %}
{% block content %}


<div class="row tm-row tm-mb-45">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <img src="{{ about.get_first_image}}" alt="Image" class="about_first_img">
    </div>
    {# Проба возможно удалить #}
    {% for item in about.get_images %}
        <div class="col-lg-6 tm-mb-60 tm-person-col">
            <div>
                <hr class="tm-hr-primary">
                <img src="{{ item.image.url }}" alt="{{ item.alt }}" class="about_img">
            </div>
        </div>
    {% endfor %}
</div>

{# Full About Me #}
<div class="row tm-row tm-mb-40">
    <div class="col-12">
        <div class="mb-4">
            {# Текст обо мне #}
            {{ about.text|safe }}
        </div>
    </div>
</div>

{# Карточки #}
<div class="row tm-row tm-mb-120">

    {# Карточки_№_1 #}
    <div class="col-lg-4 tm-about-col">
        <div class="tm-bg-gray tm-about-pad">
            <div class="text-center tm-mt-40 tm-mb-60">
                <i class="fas fa-bezier-curve fa-4x tm-color-primary"></i>
            </div>
            <h2 class="mb-3 tm-color-primary tm-post-title">Background</h2>
            <p class="mb-0 tm-line-height-short">
                Phasellus pulvinar nisl ornare leo porttitor, et vestibulum lorem semper.
                Duis risus ex, molestie sit amet magna in,
                pharetra pellentesque est. Curabitur elit metus.
            </p>
        </div>
    </div>

    {# Карточки_№_2 #}
    <div class="col-lg-4 tm-about-col">
        <div class="tm-bg-gray tm-about-pad">
            <div class="text-center tm-mt-40 tm-mb-60">
                <i class="fas fa-users-cog fa-4x tm-color-primary"></i>
            </div>
            <h2 class="mb-3 tm-color-primary tm-post-title">Teamwork</h2>
            <p class="mb-0 tm-line-height-short">
                Suspendisse ullamcorper, mi vel molestie ornare, arcu magna euismod ipsum, in malesuada nulla magna ut enim.
                Morbi lacinia magna sed auctor, vitae nunc cursus.
            </p>
        </div>
    </div>

    {# Карточки_№_3 #}
    <div class="col-lg-4 tm-about-col">
        <div class="tm-bg-gray tm-about-pad">
            <div class="text-center tm-mt-40 tm-mb-60">
                <i class="fab fa-creative-commons-sampling fa-4x tm-color-primary"></i>
            </div>
            <h2 class="mb-3 tm-color-primary tm-post-title">Our Core Value</h2>
            <p class="mb-0 tm-line-height-short">
                Nunc mi ante, suscipit vel dapibus et, volutpat sit amet ante. In tempor nec sem vitae varius. Aliquam tincidunt orci sem, et imperdiet massa consectetur nec.
            </p>
        </div>
    </div>
</div>

{# My Friends #}
<div class="row tm-row tm-mb-60">
    <div class="col-12">
        <hr class="tm-hr-primary  tm-mb-55">
    </div>

    {# Friend_№_1 #}
    <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">

            {# ImageFriend_№_1 #}
            <img src="img/about-02.jpg" alt="Image" class="img-fluid mr-4">

            {# NameFriend_№_1 #}
            <div class="media-body">
                <h2 class="tm-color-primary tm-post-title mb-2">John Henry</h2>
                <h3 class="tm-h3 mb-3">CEO/Founder</h3>

                {# TextFriend_№_1 #}
                <p class="mb-0 tm-line-height-short">
                    Aliquam non vulputate lectus, vel ultricies diam. Suspendisse at ipsum
                    hendrerit, vestibulum mi id, mattis tortor.
                </p>
            </div>
        </div>
    </div>

    {# Friend_№_2 #}
    <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">

            {# ImageFriend_№_2 #}
            <img src="img/about-03.jpg" alt="Image" class="img-fluid mr-4">

            {# NameFriend_№_2 #}
            <div class="media-body">
                <h2 class="tm-color-primary tm-post-title mb-2">Timy Cake</h2>
                <h3 class="tm-h3 mb-3">Project Director</h3>

                {# TextFriend_№_1 #}
                <p class="mb-0 tm-line-height-short">
                    Quisque in bibendum elit, in egestas turpis. Vestibulum ornare sollicitudin congue.
                    Aliquam lorem mi, maximus at iaculis ut.
                </p>
            </div>
        </div>
    </div>

    {# Friend_№_3 #}
    <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">

            {# ImageFriend_№_3 #}
            <img src="img/about-04.jpg" alt="Image" class="img-fluid mr-4">

            {# NameFriend_№_3 #}
            <div class="media-body">
                <h2 class="tm-color-primary tm-post-title mb-2">Jay Zoona</h2>
                <h3 class="tm-h3 mb-3">Supervisor</h3>

                {# TextFriend_№_3 #}
                <p class="mb-0 tm-line-height-short">
                    Maecenas eu mi eu dui cursus consequat non eu metus. Morbi ac
                    turpis eleifend, commodo purus eget, commodo mauris.
                </p>
            </div>
        </div>
    </div>

    {# Friend_№_4 #}
    <div class="col-lg-6 tm-mb-60 tm-person-col">
        <div class="media tm-person">

            {# ImageFriend_№_4 #}
            <img src="img/about-05.jpg" alt="Image" class="img-fluid mr-4">

            {# NameFriend_№_4 #}
            <div class="media-body">
                <h2 class="tm-color-primary tm-post-title mb-2">Catherine Soft</h2>
                <h3 class="tm-h3 mb-3">Team Leader</h3>

                {# TextFriend_№_4 #}
                <p class="mb-0 tm-line-height-short">
                    Integer eu sapien hendrerit,
                    imperdiet arcu sit amet, sollicitudin ipsum.
                    Phasellus consequat suscipit ligula eget bibendum.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}