{% extends 'base.html' %}

{% load social_tags cache %}

{% block title %}Контакт{% endblock %}

{% cache 5000 contact %}
{% block content %}


{# Google Map #}
    <hr class="tm-hr-primary tm-mb-55">
    <div class="row tm-row tm-mb-45">
        <div class="col-12">

            <div class="gmap_canvas">
                <iframe width="100%" height="477" id="gmap_canvas"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d511624.0960990462!2d29.534254149444585!3d59.93991380820987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310b32cbe2e9%3A0x74e032aa0505dfc!2z0JPQvtGB0YPQtNCw0YDRgdGC0LLQtdC90L3Ri9C5INCt0YDQvNC40YLQsNC2!5e0!3m2!1sru!2sby!4v1640631735150!5m2!1sru!2sby"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
    <div class="row tm-row tm-mb-120">
        {# Title Form #}
        <div class="col-12">
            <h2 class="tm-color-primary tm-post-title tm-mb-60">Contact Us</h2>
        </div>
        {# Form Feedback #}
        <div class="col-lg-7 tm-contact-left">
            <form action="{% url 'feedback' %}" method="POST" class="mb-5 ml-auto mr-0 tm-contact-form">
                <div class="form-group row mb-4 tm-color-primary col-sm-4">
                    <div class="col-sm-9 col-form-label text-right tm-color-primary">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                </div>
                {# Button Submit #}
                <div class="form-group row text-right">
                    <div class="col-12">
                        <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        {# Contacts #}
        <div class="col-lg-5 tm-contact-right">
            {% for contact in contacts %}
                <span class="d-block">
                    <img class="contact_icon" src="{{ contact.icon.url }}">
                    <a href="{{ contact.name }}" class="tm-color-gray">{{ contact.name }}</a>
                </span>
            {% endfor %}
            <hr>
            <p class="mb-5 tm-line-height-short">
                Maecenas eu mi eu dui cursus
                consequat non eu metus. Morbi ac
                turpis eleifend, commodo purus
                eget, commodo mauris.
            </p>

            {# Social #}
            <ul class="social_icon">

            {% get_social_links as social_links %}
            {% for item in social_links %}
                <li class="mb-2 social_icon">
                    <a href="{{ item.link }}" class="social_icon">
                        <img class="social_icon" src="{{ item.icon.url }}">
                    </a>
                </li>
            {% endfor %}
            </ul>

        </div>
    </div>
{% endblock content %}
{% endcache %}